<form [formGroup]="form">
    <header>
        <h1>{{nomeDaTela}}</h1>
        <button (click)="emitter()">{{nomeDoBotao}}</button>
    </header>
    <main>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name">
        </div>
        <div>
            <label for="startindAt">Start At</label>
            <input type="text" name="startAt" id="startingAt" formControlName="startAt">
        </div>
        <div>
            <label for="endingAt">Start At</label>
            <input type="text" name="endingAt" id="endingAt" formControlName="endAt">
        </div>

    </main>

</form>